@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-image: url("https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=5000");
  background-repeat: no-repeat ;
  background-size: cover;
}
section {
  color: white;
  margin: 50px 0;
  padding-top: 100px;
  padding-bottom: 100px;
  border: solid black 2px;
}
img {
  width: 250px;
  height: auto;
}
nav {
  color: white;
}

#titulos {
  background-color: green;
}
#titulos p {
  text-align: center;
}
#deportes h3 {
  font-size: 26px;
}
img {
  width: 350px;
  height: auto;
}
#perrito {
  width: 1200px;
  margin: auto;
  text-align: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
#perrito img:hover {
  width: 100%;
}

.lista {
  color: yellowgreen;
}
footer {
  background: black;
}
.rojo {
  color: red;
}
.red_title {
  color: red;
}

.purple_title {
  color: purple;
}

.element{
  width: 50px;
  border: red 5px solid;
  height: 100px;
  display: block;
  color: black;
}
